@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=VT323&display=swap');
/* font-family: 'Architects Daughter', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
/* font-family: 'Cabin Sketch', sans-serif;*/

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


header {
    border: 4mm ridge rgba(211, 220, 50, .6);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(34, 195, 134, 0.7847514005602241) 0%, rgba(207, 133, 35, 0.958420868347339) 100%);
}

.logo {
    width: 7rem;
    height: auto;
    margin-left: 25rem;
}

body {
    background-image: url("assets/bg40%.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-right: 25rem;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin-top: 2rem;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

p {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 1.5rem;
    color: #AF7324;
    
}

#btn {
    margin-top: 0.5rem;
    background-color: #BD943E;
    border: #AF7324;
    border-radius: 5px;
    font-family: 'Architects Daughter', cursive;
    color: white;
    height: 2.2rem;
    width: 5.5rem;
}

#btn:hover {
    background-color: #92A55D;
}

.bigCard {
    text-align: center;
    margin: 0.8rem;
    margin-left: 7rem;
}

.card {
    background: linear-gradient(0deg, rgba(34, 195, 134, 0.7847514005602241) 0%, rgba(207, 133, 35, 0.958420868347339) 100%);
    width: 25rem;
}

body > div > div.cardTwo.mx-auto.col-12 {
    background: linear-gradient(0deg, rgba(207, 133, 35, 0.7455357142857143) 0%, rgba(34, 195, 134, 0.9416141456582633) 67%);
    width: 60rem;
    margin-top: 6rem;
}

body > div > div.cardTwo.mx-auto.col-12 > div > div.col-6 > img {
    width: 20rem;
    height: auto;
}

.btnTwo {
    margin-top: 0.5rem;
    background-color: #BD943E;
    border: #AF7324;
    border-radius: 5px;
    font-family: 'Architects Daughter', cursive;
    color: white;
    height: 2.2rem;
    width: 5.5rem;
    margin-left: 4rem;
}

.btnTwo:hover {
    background-color: #92A55D;

}

.card-img-top {
    width: 12rem;
    height: auto;
    padding-bottom: 0.5rem;
}

.card-title {
    font-family: 'Cabin Sketch', sans-serif;
    color: #af7324;
    font-weight: bold;
    font-size: 1.5rem;
}

body>div>div.cardTwo>div>div.texto>h5 {
    font-family: 'Cabin Sketch', sans-serif;
    color: #af7324;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    animation: blink 1s infinite;
}

body > div > div.cardTwo.mx-auto.col-12 > div > div.texto.col-8 > p {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    color: black;
    text-align: left;
    margin-left: 4rem;
}

.textTwo {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    color: black;
    margin-top: 1rem;
}

label {
    font-family: 'Architects Daughter', cursive;
    padding-bottom: 0.5rem;
    color: #af7324;
    font-weight: bold;
    margin-top: 0.7rem;
} 

.conditionTittle {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

li {
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: bold;   
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: under;
    text-underline-position: under; 
}

.paraConditions {
    font-family: 'Architects Daughter', cursive;  
    margin-left: 2rem;
}