@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=VT323&display=swap');
/* font-family: 'Architects Daughter', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
/* font-family: 'Cabin Sketch', sans-serif; */

header {
    border: 4mm ridge rgba(211, 220, 50, .6);
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(34, 195, 134, 0.7847514005602241) 0%, rgba(207, 133, 35, 0.958420868347339) 100%);
}

.logo {
    width: 7rem;
    height: auto;
    margin-left: 25rem;
}

body {
    background-image: url("assets/bg40%.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-right: 25rem;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin-top: 2rem;
}

p {
    font-family: 'Architects Daughter', cursive;
text-align: center;
}

.btn {
    margin-top: 0.5rem;
    background-color: #BD943E;
    border: #AF7324;
}

.btn:hover {
    background-color:#92A55D;
}

.bigCard {
    text-align: center;
    margin: 0.8rem;
    margin-left: 7rem;
}

.card {
    background: linear-gradient(0deg, rgba(34, 195, 134, 0.7847514005602241) 0%, rgba(207, 133, 35, 0.958420868347339) 100%);
    width: 25rem;
}

.card-img-top {
    width: 12rem;
    height: auto;
    padding-bottom: 0.5rem;
}

.card-title {
    font-family: 'Cabin Sketch', sans-serif;
    color: #af7324;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-text {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    color: black;
}

label {
    font-family: 'Architects Daughter', cursive;
    padding-bottom: 0.5rem;
}